* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.NavBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 1%;
  height: 16vw;
  top: -23%;
}
.header-logo img {
  height: 4vw;
}
.NavP-2 {
  position: relative;
  left: -11%;
}
.NavP-3 {
  position: relative;
  right: -40%;
}
.NavBar .profile {
  position: relative;
  right: 3.5%;
  height: 3.3vw;
  width: 7vw;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.profile .nav-img {
  position: absolute;
  display: block;
  left: 10%;
  top: -8%;
  font-size: 2.1vw;
}
.profile .profile-img {
  height: 2vw;
  position: absolute;
  right: 15%;
  top: 15%;
}
.profile .menu-img {
  height: 2vw;
  width: 2vw;
  position: absolute;
  top: 17%;
  border-radius: 50%;
}
.NavP-2 li {
  list-style: none;
}
.NavP-2 li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 3vw;
  font-size: 1.1vw;
  color: black;
  font-weight: 600;
}
.NavBar button {
  height: 0.8vw;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #303b97;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
  border: none;
  transition: 0.2s ease-in-out all;
  position: absolute;
  right: 16%;
  overflow: hidden;
  border: 1px solid #303b97;
}
.NavBar button:hover {
  background-color: white;
  color: #4096ff;
  border: 1px solid #4096ff;
}
.NavBar .bag {
  position: absolute;
  right: 13.5%;
  cursor: pointer;
}
.NavBar .lang {
  position: absolute;
  right: 11.5%;
}
.search-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: absolute;
  border: 1px solid #e5e7eb;
  width: 45vw;
  position: absolute;
  top: 20%;
  left: 26%;
  height: 4.5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.search-box {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
.search-box .location {
  position: absolute;
  left: 4%;
}
.search-box .S-Location {
  position: absolute;
  left: 8%;
  border: none;
  outline: none;
}
.search-box .search-icon {
  position: absolute;
  right: 4%;
  opacity: 0.5;
  font-size: 1.3vw;
}
.search-box .S-Product {
  position: absolute;
  left: 45%;
  border: none;
  outline: none;
}
.search-box span {
  font-size: 2vw;
  font-weight: 300;
  opacity: 0.2;
  position: absolute;
  left: 40%;
  top: 12%;
}
.Page-1 {
  height: 95vh;
  background-color: #303b97;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.Page-1 h1 {
  overflow: hidden;
  color: white;
  font-size: 4vw;
  font-weight: bolder;
  line-height: 1;
  margin-bottom: 1.5vw;
}
.Page-1 p {
  color: white;
  font-size: 1.4vw;
  font-weight: 600;
}
.Page-1 h3 {
  overflow: hidden;
  margin-right: 1vw;
  color: white;
  font-size: 2.5vw;
  font-weight: 700;
}
.Page-1 .col-lg-6:nth-child(1) {
  position: absolute;
  top: 14%;
}
.Page-1 .col-lg-6:nth-child(2) {
  position: absolute;
  right: -14%;
  top: 5%;
}
.Page-1 .App {
  display: flex;
  align-items: center;
  margin-bottom: 1.7vw;
}
.Page-1 .App img {
  height: 6vw;
  background-color: white;
  padding: 10px;
  border-radius: 0.5vw;
}
.Store img {
  height: 2.5vw;
}
.Store img:nth-child(1) {
  margin-right: 1.2vw;
}

.Page-2 {
  min-height: 100vh;
  width: 100%;
  background-color: #fdfdfd;
  position: relative;
}
.Page-2 .cards {
  display: flex;
}
.card {
  width: 23vw;
  height: 0vh;
  margin-left: 0.3vw;
  margin-top: 1.7vw;
  margin-right: 0.5vw;
  display: flex;
  cursor: pointer;
}
.caard {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card h5 {
  overflow: hidden;
}
.card .card-img-top {
  object-fit: cover;
  height: 17vw;
  width: 100%;
}
.card-body {
  height: 7.5vw;
  overflow: hidden;
}
.card .card-text {
  color: #303b97;
  font-weight: 600;
}
.card .card-title {
  font-size: 1.19vw;
  font-weight: 700;
}
.card .add {
  position: absolute;
  bottom: 0%;
  white-space: nowrap;
  overflow: hidden;
  width: 93%;
  font-size: 0.9vw;
  font-weight: 500;
  left: 4%;
}
.card:hover {
  border: 1px solid #303b97;
}
.Page-3 {
  height: 165vh;
  width: 100%;
  background-color: #fff;
}
.Page3P-2 {
  height: 67vh;
  width: 100%;
  background-color: #303b97;
  position: relative;
  margin-top: 7vw;
  border-radius: 1.5vw;
  overflow: hidden;
}
.Page3P-2 .left {
  width: 30%;
  position: relative;
  top: 30%;
  left: 3%;
}
.left h4 {
  overflow: hidden;
  color: white;
  font-size: 2.2vw;
}
.left p {
  color: white;
  font-size: 1.6vw;
  font-weight: 600;
}
.Page3P-2 .right {
  position: static;
}
.my-video {
  all: unset;
  height: 27vw;
  width: 48vw;
  position: absolute;
  left: 49%;
  top: 6%;
  clip-path: inset(0 round 15px);
}
.Page-3 h1 {
  color: #474646;
  margin-top: 10vw;
  position: relative;
  left: 15%;
  overflow: hidden;
  font-size: 4vw;
  font-weight: 700;
  border-bottom: 1px solid #474646;
  width: 70%;
}
.Page-4 {
  height: 80vh;
  width: 100%;
  background-color: #303b97;
}
.buttons {
  margin-right: 2vw;
  padding: 1.1vw 3vw;
  background-color: white;
  border: none;
  outline: none;
  color: black;
  font-size: 1.4vw;
  font-weight: 500;
  border: 1px solid white;
  position: relative;
  left: 37%;
  top: 8%;
}
.work {
  position: relative;
  left: 39%;
  top: 7%;
  color: white;
  font-size: 3.8vw;
  font-weight: 700;
}
.buttons.seller {
  background: none;
  color: white;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 63%;
}
 .service-cards{
  display: flex;
  position: absolute;
  gap: 10.5vw;
 }
.service-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.service-card h1{
  font-size: 6.5vw;
  font-weight: bold;
}
.service-card h4{
  font-size: 2.5vw;
}
.service-card p{
  font-weight: 600;
}
.services.hidden {
  display: none;
}
.Page-6 {
  height: 60vh;
  width: 100%;
  background-color: #f4f4f9;
}
.logo span {
  color: #007bff;
  font-weight: bold;
}
ul {
  padding: 0;
  list-style: none;
}
ul li {
  margin-bottom: 10px;
}
ul li a {
  text-decoration: none;
  color: #494949;
  font-weight: 600;
}
ul li a:hover {
  color: #303b97;
}
.Page-6 h5 {
  overflow: hidden;
  color: #0b2c3d;
}
.bottom-logo {
  height: 5vw;
}
.bottom {
  position: relative;
  top: 22.5%;
  left: 0.5%;
}
.copy-right {
  color: #303b97;
  font-size: 1vw;
  font-weight: 600;
  margin-right: 2px;
}
.rights {
  color: black;
  font-size: 1vw;
  font-weight: 600;
}
.sections {
  position: relative;
  left: -7%;
  margin-right: 0vw;
}
.col-md-4 {
  overflow: hidden;
}
.col-md-4 p {
  position: relative;
  top: 8%;
  color: #494949;
  font-weight: 600;
}
.social-media li a {
  color: #303b97;
  font-size: 1.2vw;
  text-decoration: underline;
}
.explore {
  color: #303b97;
}
.Page-5 h2 {
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 10%;
  color: #474545;
}
.test-cards {
  user-select: none;
}
.my-image {
  height: 10vw;
  width: 10vw;
}
.error {
  color: red;
  font-size: 2vw;
}
.cart-left {
  margin: 3vw 0 10vw 1vw;
}
.cart-left .cart-title {
  font-size: 1.7vw;
  font-weight: 700;
  margin-bottom: 1.5vw;
}
.cart-image {
  height: 36vw;
  object-fit: cover;
  width: 56vw;
  border-radius: 5px;
  margin-bottom: 2vw;
  cursor: pointer;
}
.cart-left .product-description {
  height: 4vw;
  width: 56vw;
  background-color: #f4f4f5;
  border-radius: 13px;
  border: 1px solid #e5e7eb;
  padding: 1vw 0 0 1vw;
  margin-bottom: 1.5vw;
}
.product-description h2 {
  font-size: 1.4vw;
  font-weight: 700;
}
.cart-left .description {
  height: 3.5vw;
  width: 56vw;
  border-radius: 13px;
  border: 1px solid #e5e7eb;
  padding: 0.8vw 0 0 1vw;
}
.Add-To-Cart {
  position: relative;
  margin-bottom: 5vw;
}
.cart-right {
  width: 40vw;
  height: 28vw;
  position: absolute;
  right: 0;
  top: 9%;
}
.price-container {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}
.pricing {
  display: inline-block;
  border-bottom: 1px solid #e5e7eb;
  margin-left: 1.2vw;
}
.cart-right .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 1.4vw 0 1.5vw;
  margin-bottom: 1vw;
}
.price h2 {
  font-size: 1.3vw;
  font-weight: bold;
}
.date-picker {
  padding: 0 0 0 1.7vw;
  box-sizing: border-box;
  margin-bottom: 1.8vw;
}
.total {
  margin-left: 1.3vw;
}
.h2 {
  margin-right: 2.1vw;
}
.total-container .price {
  margin-bottom: 3vw;
}
.cart-button {
  margin-left: 27%;
  background-color: #303b97;
  padding: 1vw 6vw;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.cart-summary {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  position: relative;
}
.menu-icon {
  display: none;
}
.dropdown-menuu {
  position: absolute;
  top: 60%;
  right: 5%;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 48vw;
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
  display: none;
}
.dropdown-menuu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown-menuu li {
  padding: 8px;
  cursor: pointer;
}
.dropdown-menu2 {
  display: block;
  position: absolute;
  top: 62%;
  right: 5%;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 12vw;
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
}
.dropdown-menuu2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown-menuu2 li {
  padding: 8px;
  cursor: pointer;
}
.sign-in-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-content .header-logo {
  position: relative;
  left: 10%;
  top: 5%;
}
.sign-in-content .header-img {
  height: 5.4vw;
}
.sign-in-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 580px;
  height: 78%;
}
.sign-in-content h3 {
  position: relative;
  left: 10%;
  top: 11%;
  font-size: 1.7vw;
  font-weight: 600;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.5;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  bottom: -15%;
  left: 10%;
}

.auth-form input {
  padding: 0.5rem;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  width: 75%;
  color: black;
}
.auth-form input:hover {
  border-color: #4096ff;
}
.auth-form input::placeholder {
  color: #bfbfbf;
}
.auth-form p {
  color: #6b7280;
}
.auth-form button {
  background: #303b97;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  width: 71%;
  border: 1px solid #303b97;
}
.auth-form button:hover {
  background: white;
  color: #303b97;
  border: 1px solid #303b97;
}
.sign-in-content .divider {
  position: relative;
  bottom: -18%;
}
.sign-in-content .google-login {
  position: absolute;
  bottom: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 15%;
  padding: 1vw 7.5vw;
  background-color: #f3f4f6;
  border: 1px solid #111827;
  border-radius: 5px;
}
.google-icon {
  position: absolute;
  left: 8%;
  top: 17%;
  font-size: 1.3vw;
}
.magic-link-btn {
  background-color: #007bff;
  color: white;
  transition: all 0.3s ease;
}
.magic-link-btn.disabled-btn {
  background-color: #d6d6d6;
  cursor: not-allowed;
}
.profile-container {
  width: 90%;
  position: relative;
  height: 50vh;
  margin: 2vw 0 10vw 0;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.profile-container .placeholder-img {
  height: 11vw;
  position: absolute;
  left: 1%;
  top: 28%;
}
.profile-container .profile-info {
  position: absolute;
  left: 20%;
  top: 35%;
}
.profile-info h2 {
  font-size: 2.5vw;
  font-weight: 700;
  color: #374151;
  position: relative;
  left: 15%;
}
.profile-info p {
  font-size: 1.3vw;
  position: absolute;
  left: 20%;
  top: 90%;
  color: #374151;
}
.profile-info p img {
  position: absolute;
  top: 10%;
  right: -24%;
}
.profile-info .referals {
  position: absolute;
  bottom: -100%;
  left: 30%;
}
.profile-info h6 {
  color: #374151;
  font-size: 700;
}
.edit-section {
  position: relative;
}
.vertical-line {
  position: relative;
  left: -5%;
  margin-top: 2vw;
}
.edit-section .profile-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 3%;
  top: 18%;
}
.profile-buttons a {
  padding: 0.9vw 8vw;
  background-color: #303b97;
  margin-bottom: 1vw;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #303b97;
  transition: 0.2s ease-in-out all;
}
.profile-buttons a:hover {
  color: #4096ff;
  border-color: #4096ff;
  background-color: white;
}
.image-container {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 7%;
}
.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.camera-icon {
  font-size: 32px;
  color: #303b97;
}
.Edit-Profile {
  position: relative;
  margin: 6vw 0 8vw 0;
}
.upload {
  height: 42vh;
  width: 38vw;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  position: relative;
  left: -1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 5vw;
}
.upload button {
  position: absolute;
  bottom: 7%;
  padding: 0.8vw 6.2vw;
  color: white;
  background-color: #303b97;
  border-radius: 5px;
  border: 1px solid #303b97;
  transition: 0.2s all ease-in-out;
}
.upload button:hover {
  background-color: #fff;
  color: #303b97;
}
.upload p {
  position: absolute;
  bottom: 25%;
  color: #374151;
  font-size: 1.3vw;
}
.information input {
  border-color: #d9d9d9;
}
.information input:hover {
  border-color: #4096ff;
}
.profile-container .profileImg {
  height: 10vw;
  width: 10.5vw;
  border-radius: 5px;
}
.profile-info .my-name {
  position: relative;
  left: 7%;
}
/* .service-cards{
  display:  flex;
  align-items: center; 
  /* justify-content: center; */
/* flex-direction: column; */
/* }  */
